* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: darkgray;
}

.score-board {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}

.score-board div {
  background-color: beige;
  margin: 0 10%;
}

.game-board {
  flex: 1;
  max-height: 500px;
  width: 500px;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.game-board div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}

.modal {
  position: absolute;
  margin: 10%;
  height: 30%;
  width: 40%;
  padding-top: 10px;
  background-color: white;
  border: 5px solid;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-modal {
  z-index: 2;
}

#winner-modal {
  z-index: 1;
}
#modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hidden {
  display: none;
}
